<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="com.example.ArkETC.login.mapper.HomeMapper">
	<select id="checkUser" resultType="com.example.ArkETC.login.dto.HomeDTO" parameterType="String">
		SELECT
			id,
			password,
			name,
			email,
			address
		FROM
			product.productUser
		WHERE
			id = #{id}
		AND
			password = #{password}
	</select>
	
	<insert id="createUser" parameterType="String">
		INSERT INTO
			product.productuser
			(
				id,
				password,
				name,
				email,
				address,
				`role`
			)
		VALUES
			(
				#{id},
				#{password},
				#{name},
				'test',
				'test',
				'USER'
			);

	</insert>
	
	<select id="checkUserPw" resultType="int">
		SELECT
			count(*)
		FROM
			product.productUser
		WHERE
			id=#{id}
		AND
			password=#{password}
	</select>
	
	<select id="findUser" resultType="String">
		SELECT
			password
		FROM
			product.productUser
		WHERE
			id=#{id}
	</select>
</mapper>