<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="com.example.ArkETC.login.mapper.ProductMapper">
	<insert id="inProduct" parameterType="com.example.ArkETC.login.dto.ProductDTO">
		INSERT INTO
			product.productitem
			(
				productName,
				productCode,
				productPrice,
				productCount,
				productSeller,
				productViewCount
			)
		VALUES
			(
				#{productName},
				(select MAX(productCode) + 1 from product.productitem code),
				#{productPrice},
				#{productCount},
				#{productSeller},
				'0'
			);

	</insert>
	
	<select id="seProduct" resultType="com.example.ArkETC.login.dto.ProductDTO">
		SELECT
			productName,
			productCode,
			productPrice,
			productCount,
			productSeller,
			productViewCount
		FROM
			product.productitem;
		
	</select>
	
	<insert id="inProductViewCount" parameterType="com.example.ArkETC.login.dto.ProductDTO">
		INSERT INTO
			product.productitemipset
			(
				ip,
				productCode,
				id
			)
		VALUES
			(
				#{ip},
				#{productCode},
				#{id}
			);
		
	</insert>
</mapper>
